{
    email {$TLS_EMAIL}
}

cal11.de {
    reverse_proxy app:3000 {
        header_up X-Forwarded-For {remote_host}
    }
}

vp.cal11.de {
    reverse_proxy vp:8000 {
        header_up X-Forwarded-For {remote_host}
    }
}

notify.cal11.de {
    reverse_proxy ntfy:80 {
        header_up X-Forwarded-For {remote_host}
        flush_interval -1
    }
}
